body{
    background-color: whitesmoke;
}

.version {
    background-color: rgb(174, 216, 245);
    text-align: center;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 20px;
    width: fit-content;
    margin: auto;
    padding: 0px 20px 0px 20px;
  }
